<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/home.css">
</head>

<body>
<header>
    <h1>Welcome to Resume App</h1>
</header>

<nav>
    <div class="brand">Resume App</div>
    <a href="/login" class="login-btn">Login</a>
</nav>

<main>
    <h2>Create and View Resumes Easily</h2>
    <p>
        Welcome to the Resume App! You can create a professional resume by filling out a simple form.
        Once you're done, you can view your resume and allow others to see it too.
    </p>
    <p>
        If you're already registered, please log in to access your dashboard. New users can create an
        account by clicking the 'Login' button above.
    </p>
    <div class="button-container">
        <nav>
        <a href="/form" class="action-btn">Create Resume</a>
        <a href="/list" class="action-btn">View Resumes</a>
        </nav>
    </div>
</main>

<footer>
    <p>&copy; 2024 Resume App. All rights reserved.</p>
</footer>
</body>

</html>
